<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrush.chayward102.moodrush">
    /*google Analytics*/
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".AnalyticsApplication"
        android:allowBackup="true"
        android:icon="@drawable/_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        /*replace with index2 after testing*/
        <activity android:name=".ResultsMediumRisk">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        /*Start of app*/
        <activity android:name=".QuestionOne" />
        <activity android:name=".QuestionTwo" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".QuestionThree" />
        <activity android:name=".QuestionFour" />
        <activity android:name=".QuestionFive" />
        <activity android:name=".QuestionSix" />
        <activity android:name=".QuestionSeven" />
        <activity android:name=".QuestionEight" />
        <activity android:name=".QuestionNine" />
        <activity android:name=".QuestionTen" />
        <activity android:name=".QuestionEleven" />
        <activity android:name=".QuestionTwelve" />
        <activity android:name=".QuestionThirteen" />
        <activity android:name=".QuestionFourteen" />
        <activity android:name=".QuestionFifteen" />
        <activity android:name=".QuestionSixteen" />
        <activity android:name=".QuestionSeventeen" />
        <activity android:name=".QuestionEighteen" />
        <activity android:name=".QuestionNineteen" />
        <activity android:name=".QuestionTwenty" />
        <activity android:name=".QuestionTwentyone" />
        <activity android:name=".quizResults" />


        <activity android:name=".ResultsHighRisk" />
        <activity android:name=".Consent" />
        <activity android:name=".About" />
        <activity android:name=".HowWorks" />
        <activity android:name=".RunningWho"></activity>
    </application>

</manifest>